In [298]:
import pandas as pd
import numpy as np
import re
import nltk
from sklearn.model_selection import GridSearchCV
from nltk.corpus import stopwords
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import FeatureUnion
from sklearn.ensemble import RandomForestClassifier
import joblib

stopWords = set(stopwords.words('english'))

In [299]:
df = pd.read_csv('static/resources/data.csv')

In [300]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD)
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD)
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD)
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable

In [301]:
#Get the datas with salary with glassdoor estimate
df['Salary_est'] = df['Salary Estimate'].apply(lambda x: 1 if 'glassdoor est.' in x.lower() else 0)
df = df[df['Salary_est'] == 1]

In [302]:
# Calculate average salary and drop non-useful columns
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
minus_Kd = salary.apply(lambda x: x.replace('K','').replace('$',''))

df['min_salary'] = minus_Kd.apply(lambda x: int(x.split('-')[0]))
df['max_salary'] = minus_Kd.apply(lambda x: int(x.split('-')[1]))
df['Salary'] = (df.min_salary+df.max_salary)*1000/2
df = df.drop(['Salary Estimate', 'Salary_est', 'min_salary', 'max_salary'],1)

In [303]:
# Company name text only
df['Company Name'] = df.apply(lambda x: x['Company Name'] if x['Rating'] <0 else x['Company Name'].split('\n')[0], axis = 1)

In [304]:
# Create new features such as city & state 
df['City'] = df['Location'].apply(lambda x: x.split(',')[0] if ',' in x.lower() else x)
df['State'] = df['Location'].apply(lambda x: x.split(',')[1] if ',' in x.lower() else x) 
df = df.drop(['Location'],1)
df.head()

,Job Title,Job Description,Rating,Company Name,Size,Founded,Type of ownership,Industry,Sector,Revenue,Salary,City,State
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,154000.0,New York,NY
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),154000.0,Chantilly,VA
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),154000.0,Boston,MA
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),154000.0,Newton,MA
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,154000.0,New York,NY

In [305]:
# Calculate the age of company 
df['Founded'] = df['Founded'].apply(lambda x: np.nan if x in ['Company - Private', '-1', 'Company - Public', 'Unknown', 'Contract', 'Nonprofit Organization', 'Self-employed'] else x)
df['Age'] = df['Founded'].apply(lambda x: x if x is np.nan else 2021 - int(x))
df = df.drop(['Founded'],1)

In [306]:
# Python
df['Python'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
 
# R studio 
df['R'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)

# SQL 
df['SQL'] = df['Job Description'].apply(lambda x: 1 if 'sql' in x.lower() else 0)

# AWS 
df['AWS'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)

# Excel
df['Excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

# Google Cloud
df['GCP'] = df['Job Description'].apply(lambda x: 1 if 'google cloud' in x.lower() or 'gcp' in x.lower() else 0)

# Microsoft Azure
df['Azure'] = df['Job Description'].apply(lambda x: 1 if 'microsoft azure' in x.lower() or 'azure' in x.lower() else 0)

# Spark
df['Spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)

# PyTorch
df['PyTorch'] = df['Job Description'].apply(lambda x: 1 if 'pytorch' in x.lower() else 0)

# TensorFlow
df['TensorFlow'] = df['Job Description'].apply(lambda x: 1 if 'tensorflow' in x.lower() else 0)

# Tableau
df['Tableau'] = df['Job Description'].apply(lambda x: 1 if 'tableau' in x.lower() else 0)

# Keras
df['Keras'] = df['Job Description'].apply(lambda x: 1 if 'keras' in x.lower() else 0)

#NoSQL
df['NoSQL'] = df['Job Description'].apply(lambda x: 1 if 'nosql' in x.lower() else 0)

#Sci-kit Learn
df['Scikit-Learn'] = df['Job Description'].apply(lambda x: 1 if 'scikit learn' in x.lower() else 0)

#Machine Learning
df['Machine_Learning'] = df['Job Description'].apply(lambda x: 1 if 'machine learning' in x.lower() else 0)

#Hadoop
df['Hadoop'] = df['Job Description'].apply(lambda x: 1 if 'hadoop' in x.lower() else 0)

# Scala
df['Scala'] = df['Job Description'].apply(lambda x: 1 if 'scala' in x.lower() else 0)

# Data Brick
df['Data_Brick'] = df['Job Description'].apply(lambda x: 1 if 'data brick' in x.lower() else 0)

In [307]:
# Convert size to lower case
df['Size'] = df['Size'].str.lower()
df.head()

,Job Title,Job Description,Rating,Company Name,Size,Type of ownership,Industry,Sector,Revenue,Salary,...,PyTorch,TensorFlow,Tableau,Keras,NoSQL,Scikit-Learn,Machine_Learning,Hadoop,Scala,Data_Brick
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,154000.0,...,0,0,0,0,0,0,1,0,0,0
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),154000.0,...,0,0,0,0,0,0,1,1,0,0
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),154000.0,...,0,0,0,0,0,0,1,0,0,0
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),154000.0,...,1,1,0,0,1,0,1,0,0,0
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,154000.0,...,0,0,0,0,0,0,1,0,0,0

In [308]:
df['Job Title'] = df['Job Title'].apply(lambda x: ' '.join(x.split()))
df['Job Title'] = df['Job Title'].apply(lambda x: re.sub(r'[^\w\s]',' ', x.lower()))
df['Job Description'] = df['Job Description'].apply(lambda x: ' '.join(x.split()))
df['Job Description'] = df['Job Description'].apply(lambda x: re.sub(r'[^\w\s]','', x.lower()))
df['Job Description'] = df['Job Description'].apply(lambda x: ' '.join([word for word in x.split() if word not in stopWords]))

In [309]:
# Classifying job titles into each category
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'data analyst'
    elif 'machine learning' in title.lower():
        return 'machine learning engineer'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'data science related jobs'

In [310]:
# Classifying job levels into each category
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'vp' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower()or 'experienced' in title.lower() or 'iii' in title.lower() or 'research' in title.lower() or 'manager' in title.lower():
        return 'Senior'
    elif 'intermediate' in title.lower() or 'staff' in title.lower() or 'ii' in title.lower():
        return 'Mid'
    elif 'jr' in title.lower() or 'junior' in title.lower() or 'intern' in title.lower() or 'student' in title.lower()or 'associate' in title.lower():
        return 'Junior'
    else:
        return 'Not Specified'

In [311]:
# Process data based on above defined functions 
df['Job'] = df['Job Title'].apply(title_simplifier)
df['Seniority'] = df['Job Title'].apply(seniority)

In [312]:
# Categorize salary
def salary_category(salary):

    if salary < 75000:
        return 1
    if 75000 <= salary < 100000:
        return 2
    if 100000 <= salary < 125000:
        return 3
    if 125000 <= salary < 150000:
        return 4
    if 150000 <= salary < 175000:
        return 5
    if 175000 <= salary < 200000:
        return 6
    else:
        return 7
target = df['Salary'].apply(salary_category)

In [313]:
# Fill all NaN values in numeric & text features 
df['Age'] = df['Age'].fillna(0)
df = df.fillna('Unknown')

In [314]:
class TextSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on text columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[self.key]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]

In [315]:
df=df.drop(["Rating","Company Name","City","Revenue",'Type of ownership',
                                                            'Industry','Sector'],axis=1)

In [316]:
features= [c for c in df.columns.values if c not in ['Salary']]
numeric_features= [c for c in df.columns.values if c not in ['Job Title','Size','State','Job','Seniority',"Job Description"]]

X_train, X_test, y_train, y_test = train_test_split(df[features], target, test_size=0.2, random_state=42)
X_train.head(2)

,Job Title,Job Description,Size,State,Age,Python,R,SQL,AWS,Excel,...,Tableau,Keras,NoSQL,Scikit-Learn,Machine_Learning,Hadoop,Scala,Data_Brick,Job,Seniority
1289,senior research scientist machine learning,sei emerging technology center describe work m...,501 to 1000 employees,PA,37.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,machine learning engineer,Senior
1233,scientist 2 qc viral vector,biomarin world leader delivering therapeutics ...,1001 to 5000 employees,CA,24.0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,data science related jobs,Not Specified

In [317]:

# Define text feature pipelines
jt=TextSelector(key='Job Title')
s=TextSelector(key='Size')
o=TextSelector(key='Type of ownership')
i=TextSelector(key='Industry')
sec=TextSelector(key='Sector')
state= TextSelector(key='State')
j=TextSelector(key='Job')
Job_Title = Pipeline([
                ('selector', jt),
                ('tfidf', TfidfVectorizer(stop_words='english'))
            ])

Size = Pipeline([
                ('selector', s),
                ('tfidf', TfidfVectorizer(stop_words='english'))
            ])

Description = Pipeline([
                ("selector",TextSelector("Job Description")),
                ('tfidf', TfidfVectorizer(stop_words='english'))
            ])

State = Pipeline([
                ('selector',state),
                ('tfidf', TfidfVectorizer(stop_words='english'))
            ])

Job = Pipeline([
                ('selector',j ),
                ('tfidf', TfidfVectorizer(stop_words='english'))
            ])

Job_Title.fit_transform(X_train)

<1242x489 sparse matrix of type '<class 'numpy.float64'>'
	with 3992 stored elements in Compressed Sparse Row format>

In [318]:

a=NumberSelector(key='Age')
p=NumberSelector(key='Python')
r= NumberSelector(key='R')
sql=NumberSelector(key='SQL')
aws=NumberSelector(key='AWS')
excel=NumberSelector(key='Excel')
gcp=NumberSelector(key='GCP')
az=NumberSelector(key='Azure')
spark=NumberSelector(key='Spark')
t=NumberSelector(key='PyTorch')
tensor=NumberSelector(key='TensorFlow')
tab=NumberSelector(key='Tableau')
k= NumberSelector(key='Keras')
nosql= NumberSelector(key='NoSQL')
sk=NumberSelector(key='Scikit-Learn')
ml= NumberSelector(key='Machine_Learning')
h=NumberSelector(key='Hadoop')
scala=NumberSelector(key='Scala')
db=NumberSelector(key='Data_Brick')
Age =  Pipeline([
                ('selector', a),
                ('standard', StandardScaler())
            ])
Python =  Pipeline([
                ('selector', p),
                ('standard', StandardScaler())
            ])
R =  Pipeline([
                ('selector',r),
                ('standard', StandardScaler()),
            ])
SQL =  Pipeline([
                ('selector', sql),
                ('standard', StandardScaler()),
            ])
AWS =  Pipeline([
                ('selector', aws),
                ('standard', StandardScaler()),
            ])
Excel =  Pipeline([
                ('selector', excel),
                ('standard', StandardScaler()),
            ])
GCP =  Pipeline([
                ('selector', gcp),
                ('standard', StandardScaler()),
            ])
Azure =  Pipeline([
                ('selector', az),
                ('standard', StandardScaler()),
            ])
Spark =  Pipeline([
                ('selector', spark),
                ('standard', StandardScaler()),
            ])
# PyTorch =  Pipeline([
#                 ('selector', t),
#                 ('standard', StandardScaler()),
#             ])
# TensorFlow =  Pipeline([
#                 ('selector', tensor),
#                 ('standard', StandardScaler()),
#             ])

Tableau =  Pipeline([
                ('selector', tab),
                ('standard', StandardScaler()),
            ])

Keras =  Pipeline([
                 ('selector',k),
                 ('standard', StandardScaler()),
             ])
NoSQL =  Pipeline([
                ('selector',nosql),
                ('standard', StandardScaler()),
            ])
# Scikit_Learn =  Pipeline([
#                 ('selector', sk),
#                 ('standard', StandardScaler()),
#             ])
Machine_Learning =  Pipeline([
                ('selector', ml),
                ('standard', StandardScaler()),
            ])
Hadoop =  Pipeline([
                ('selector', h),
                ('standard', StandardScaler()),
            ])
# Scala =  Pipeline([
#                 ('selector', scala),
#                 ('standard', StandardScaler()),
#             ])
# Data_Brick =  Pipeline([
#                 ('selector', db),
#                 ('standard', StandardScaler()),
#             ])

In [319]:
# FeatureUnion for all feature vectors 
feats = FeatureUnion([('Job Title', Job_Title), 
                    #   ('Job Description', Job_Desc),
                    #   ('Company Name', Company),
                      ('Company Size', Size),
                      # ('Type of ownership', Ownership),
                      # ('Industry', Industry),
                      # ('Sector', Sector),
                    #   ('Revenue', Revenue),
                      # ('City', City),
                      ('State', State),
                      ('Job', Job),
                      # ('Rating', Rating),
                      ('Age', Age),
                      ('Python', Python),
                      ('R', R),
                      ('SQL', SQL),
                      ('AWS', AWS),
                      ('Excel', Excel),
                      ('GCP', GCP),
                      ('Azure', Azure),
                      ('Spark', Spark),
                      # ('PyTorch', PyTorch),
                      # ('TensorFlow', TensorFlow),
                      ('Keras',Keras),
                      ('Tableau', Tableau),
                      ('NoSQL', NoSQL),
                      # ('Scikit_Learn', Scikit_Learn),
                      ('Machine_Learning',Machine_Learning),
                      ('Hadoop', Hadoop),
                      # ('Scala',Scala),
                      # ('Data_Brick',Data_Brick)
                     ])

feature_processing = Pipeline([('feats', feats)])
feature_processing.fit_transform(X_train)

<1242x574 sparse matrix of type '<class 'numpy.float64'>'
	with 28568 stored elements in Compressed Sparse Row format>

In [320]:
pipeline = Pipeline([
    ('features',feats),
    ('classifier', RandomForestClassifier(random_state = 42)),
])

pipeline.fit(X_train, y_train)

preds = pipeline.predict(X_test)
preds

array([3, 3, 2, 2, 3, 3, 2, 3, 3, 3, 2, 2, 3, 2, 5, 1, 3, 1, 5, 3, 4, 2,
       3, 5, 3, 3, 3, 3, 3, 2, 3, 2, 3, 2, 3, 3, 1, 2, 3, 2, 3, 3, 4, 5,
       3, 2, 3, 3, 3, 3, 3, 3, 2, 4, 4, 5, 4, 1, 3, 1, 2, 3, 4, 3, 4, 3,
       4, 7, 5, 2, 4, 2, 1, 3, 3, 4, 2, 5, 4, 4, 3, 3, 3, 3, 3, 1, 1, 3,
       4, 3, 3, 3, 2, 3, 4, 3, 4, 5, 1, 4, 2, 3, 3, 3, 4, 3, 3, 4, 3, 3,
       2, 4, 4, 5, 1, 3, 2, 3, 1, 3, 2, 3, 3, 4, 3, 4, 3, 3, 1, 3, 2, 3,
       3, 3, 3, 1, 5, 4, 3, 2, 3, 3, 3, 3, 5, 2, 3, 3, 3, 2, 4, 2, 4, 3,
       4, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 5, 4, 2, 3, 3,
       4, 3, 4, 1, 3, 4, 3, 1, 3, 3, 3, 2, 4, 3, 4, 3, 3, 2, 3, 4, 3, 3,
       3, 1, 3, 4, 3, 3, 3, 2, 7, 3, 3, 2, 4, 3, 3, 3, 4, 3, 3, 3, 2, 2,
       3, 3, 1, 3, 3, 4, 3, 1, 1, 3, 4, 3, 3, 3, 3, 3, 2, 4, 3, 3, 6, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 1, 3, 3, 3, 3, 3, 4, 3, 2, 3,
       3, 3, 2, 3, 3, 2, 3, 3, 2, 2, 2, 3, 4, 3, 2, 1, 2, 1, 1, 3, 3, 4,
       3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 4, 3, 2, 1, 3, 4, 3, 2, 3, 3, 5,
       4, 4, 3], dtype=int64)

In [321]:

importances=pipeline.steps[1][1].feature_importances_
importances

array([1.08881146e-04, 1.79652961e-04, 3.59616927e-04, 1.25838815e-04,
       1.47137785e-04, 1.43686594e-04, 5.23365918e-04, 3.02553383e-05,
       2.36907139e-04, 5.87941027e-04, 6.68690744e-05, 6.68972870e-05,
       1.45284196e-04, 1.33596540e-04, 1.11144363e-04, 6.75941868e-05,
       2.46902364e-04, 2.42028716e-03, 4.09496882e-04, 8.89870949e-05,
       8.37817733e-05, 2.07636724e-04, 1.91356319e-03, 5.22658283e-04,
       3.08047473e-04, 1.88244033e-04, 7.75449003e-05, 8.37941384e-04,
       1.16629210e-02, 1.27768393e-03, 9.12454436e-03, 6.78961953e-05,
       1.18017394e-04, 2.53729665e-04, 3.42009148e-04, 1.14878540e-03,
       4.58450255e-04, 4.10672665e-04, 4.89798029e-04, 1.73056818e-04,
       6.77106004e-05, 4.63505282e-04, 2.87382865e-05, 2.14817466e-04,
       2.15605831e-04, 5.69354672e-03, 2.73912791e-04, 1.82594156e-04,
       3.68322232e-04, 0.00000000e+00, 1.46065092e-04, 6.13375252e-04,
       5.96339046e-05, 5.07951630e-04, 1.50894549e-04, 1.89836273e-04,
       1.51410823e-04, 5.77313687e-04, 7.31070669e-05, 2.60367020e-04,
       8.91151437e-05, 4.96503500e-04, 1.08797387e-03, 7.19977604e-04,
       1.14999240e-04, 5.06090158e-04, 7.32552112e-04, 2.17901409e-04,
       1.05116616e-04, 1.50221225e-04, 2.32402787e-04, 4.26201390e-04,
       1.38453128e-04, 1.02126850e-04, 2.04693961e-03, 7.01594202e-04,
       2.59183169e-04, 6.11723764e-04, 2.06201661e-05, 9.60965657e-05,
       4.28654093e-04, 1.12514030e-04, 1.28320459e-04, 4.02524141e-04,
       2.28401093e-04, 2.36634763e-04, 1.18602583e-04, 8.95936979e-05,
       5.65264967e-04, 2.02743271e-04, 3.50185647e-04, 1.92464871e-04,
       3.53228491e-05, 1.38771733e-03, 4.71535521e-04, 3.08397626e-04,
       2.21469109e-04, 2.27448478e-04, 2.98677640e-05, 3.45795250e-05,
       6.42039289e-04, 1.32015065e-03, 1.92081997e-04, 8.64090110e-04,
       9.27912340e-05, 1.40554819e-03, 1.54741900e-04, 3.20833993e-04,
       1.96713241e-04, 4.02001228e-04, 9.73024571e-05, 1.69342463e-04,
       1.30524529e-03, 1.19954786e-04, 1.03710733e-04, 1.99688451e-04,
       1.36049035e-04, 1.37720534e-04, 4.17925452e-02, 4.20587730e-05,
       4.46902996e-04, 5.68602113e-04, 6.66811956e-04, 5.96687327e-04,
       3.87583404e-04, 4.06167423e-05, 3.80952053e-04, 7.90937699e-04,
       3.59456222e-04, 1.58760050e-04, 1.58926598e-03, 2.09873396e-03,
       1.11508008e-04, 2.47853070e-04, 3.34282352e-04, 1.28744509e-05,
       1.13496375e-04, 4.28569472e-04, 1.51222001e-04, 8.48884313e-05,
       6.84420790e-05, 1.18499285e-04, 2.66169351e-04, 1.13555671e-02,
       2.06422284e-03, 4.85445469e-04, 9.05861187e-05, 3.21025327e-04,
       3.49256045e-04, 5.97315213e-04, 2.23802122e-04, 1.16281041e-04,
       4.09255176e-04, 1.58800063e-04, 8.87723436e-05, 1.31880839e-04,
       5.89240068e-04, 5.20282430e-04, 2.10333770e-04, 1.36314877e-04,
       2.77377711e-04, 5.99361430e-04, 2.78463748e-04, 4.31241562e-04,
       9.38601405e-04, 6.42966845e-05, 1.92720595e-04, 2.90490605e-04,
       9.00804535e-04, 1.41046294e-04, 8.60248238e-04, 2.69720942e-04,
       1.23591133e-04, 4.20651179e-04, 7.37088929e-05, 1.95596802e-04,
       2.35611388e-04, 2.64012001e-04, 1.90150751e-04, 7.91204603e-05,
       1.62798330e-04, 6.92543555e-04, 3.44992512e-04, 1.03696400e-04,
       4.37006282e-04, 3.34735646e-04, 3.50341112e-04, 9.38911784e-04,
       3.16939422e-04, 1.30950604e-03, 1.30720089e-03, 8.44460528e-05,
       9.93384202e-05, 4.82953203e-04, 1.86106758e-04, 2.42884007e-04,
       3.25731456e-04, 2.87481063e-03, 1.79900723e-04, 2.70750183e-04,
       9.22947370e-04, 1.05671252e-04, 3.01312717e-04, 4.09675274e-05,
       2.32308660e-04, 6.04453688e-05, 1.61606510e-04, 4.87760148e-05,
       5.17005518e-04, 3.84990089e-04, 3.18079409e-04, 1.31524922e-04,
       1.23150310e-03, 1.65134521e-04, 2.31968472e-04, 1.43419214e-04,
       4.71305452e-05, 6.09807897e-04, 4.07436764e-05, 4.17579520e-04,
       3.24681032e-03, 2.51460929e-04, 1.01562110e-03, 2.19499497e-04,
       1.81518753e-04, 6.31028002e-05, 2.11044593e-04, 1.74615785e-04,
       6.54837212e-04, 3.63352893e-04, 3.60496749e-04, 3.13812668e-04,
       4.52710873e-04, 1.08695674e-04, 1.55172923e-04, 8.80565403e-04,
       5.56715972e-04, 2.78320295e-04, 1.75600928e-05, 2.15701435e-05,
       6.34129539e-05, 3.25159040e-03, 4.30485069e-03, 4.75003569e-04,
       8.31055136e-05, 3.65065041e-04, 1.04631340e-04, 6.01738946e-05,
       6.39306026e-05, 3.08987362e-04, 4.38171457e-03, 1.21552178e-03,
       3.53431941e-03, 2.79640827e-05, 5.29452331e-04, 7.47742455e-04,
       1.45630386e-03, 8.51123736e-05, 1.97340858e-04, 3.12838989e-04,
       2.32865442e-04, 2.94393107e-04, 7.55184298e-04, 2.53994968e-04,
       2.74574799e-04, 1.58932829e-04, 1.28262114e-04, 1.14143074e-04,
       2.72875915e-04, 4.51048205e-04, 1.17963885e-04, 1.80523982e-04,
       5.87432889e-05, 8.12272966e-04, 1.50592687e-04, 9.43240161e-04,
       1.68939733e-04, 3.65876413e-05, 7.81619822e-04, 4.82011185e-04,
       2.73341309e-04, 1.47607911e-04, 7.43044955e-05, 1.02257333e-04,
       2.68794899e-05, 2.75672965e-04, 1.56743405e-04, 2.20159692e-04,
       3.74418493e-04, 3.05072773e-04, 3.51160980e-04, 3.35825877e-04,
       4.62483532e-04, 1.30289517e-04, 2.30339345e-04, 1.69081222e-04,
       4.44076415e-04, 1.02717893e-03, 5.00957661e-04, 8.24572468e-05,
       1.70047729e-04, 2.17056356e-04, 3.66719118e-04, 1.87008410e-04,
       1.23504313e-04, 5.16363236e-04, 3.05628164e-05, 1.99318844e-04,
       1.02047159e-04, 4.50076435e-04, 1.16449469e-04, 2.05880767e-04,
       4.78160025e-04, 3.11906303e-05, 4.94990213e-04, 1.56586619e-04,
       1.44769682e-04, 1.56051035e-04, 3.10206520e-04, 3.49892440e-04,
       1.78786168e-04, 8.12232860e-05, 8.44687314e-05, 7.12707406e-05,
       3.21086466e-04, 2.90843160e-04, 7.82704143e-05, 4.64744536e-05,
       2.94735620e-04, 2.21082577e-04, 6.26947108e-04, 9.77484274e-05,
       1.72930756e-04, 6.13831211e-04, 1.95085329e-04, 8.35131197e-05,
       6.20090951e-05, 3.37984220e-04, 4.33237525e-05, 1.10961347e-04,
       2.61556525e-04, 3.58358143e-05, 1.71278912e-04, 1.06412367e-04,
       1.81478375e-04, 5.51041760e-04, 9.83270769e-05, 5.79712867e-03,
       8.13735947e-05, 1.23968503e-04, 1.24818257e-04, 4.07914755e-04,
       2.34697660e-03, 1.39642686e-04, 2.48151452e-04, 1.46086748e-04,
       5.43767896e-05, 1.57160918e-04, 3.25466607e-04, 1.14363361e-04,
       2.07882256e-04, 1.95978925e-04, 3.78808891e-04, 1.45402032e-04,
       3.04461525e-04, 2.77747558e-04, 7.24140540e-04, 2.27885618e-04,
       4.89112145e-04, 1.17806808e-04, 6.13676371e-04, 5.02109571e-04,
       9.66969050e-05, 5.44560872e-04, 2.15442362e-04, 4.85584574e-05,
       4.70020923e-04, 1.64044184e-03, 2.12910343e-04, 3.42134078e-04,
       4.04804194e-03, 1.92187555e-04, 1.59704131e-04, 3.50867991e-04,
       2.91876289e-04, 2.72849567e-05, 2.95670066e-04, 8.12765148e-04,
       2.29493245e-04, 1.19273510e-04, 9.91162886e-05, 4.58843203e-04,
       6.20730447e-04, 3.01168995e-04, 9.88425958e-05, 3.30173882e-04,
       7.81770197e-04, 4.03027359e-03, 6.83378102e-04, 4.24246725e-02,
       2.61891655e-04, 2.85193029e-05, 1.40031094e-04, 2.99249453e-04,
       1.86430664e-02, 8.37725601e-05, 4.43664681e-04, 2.93171822e-04,
       9.03574480e-04, 6.37449093e-05, 9.90100355e-05, 1.24853845e-04,
       8.85211461e-05, 2.34187777e-04, 2.08546097e-04, 3.19253769e-04,
       1.49591401e-03, 2.96261391e-04, 1.80792344e-04, 4.78109848e-05,
       1.74438421e-04, 1.00052743e-03, 1.79695428e-04, 5.61160157e-04,
       7.23085813e-03, 2.05548034e-04, 4.79234728e-03, 3.54939870e-04,
       2.80161841e-04, 2.09592571e-04, 3.87499923e-04, 1.54423421e-04,
       2.87746186e-04, 1.07401606e-04, 1.80908457e-04, 1.73234000e-04,
       2.20908250e-04, 5.07104813e-05, 1.95735169e-04, 1.43429788e-03,
       1.43151061e-04, 1.73662434e-04, 8.41451602e-04, 1.61876014e-04,
       3.24364898e-04, 1.47374610e-04, 5.44489331e-04, 4.06827896e-04,
       1.35649199e-04, 2.43107665e-04, 4.25941153e-04, 9.17056275e-05,
       2.36525729e-04, 6.24665937e-05, 8.28016814e-04, 1.12225709e-04,
       8.67140483e-05, 2.63586810e-04, 4.67238681e-04, 2.33852487e-04,
       2.50628945e-04, 6.62308081e-04, 1.40605874e-04, 9.64489474e-05,
       6.74339283e-05, 1.46410002e-04, 3.13931333e-05, 2.09812207e-04,
       1.13881315e-04, 8.23798489e-05, 1.19044563e-04, 3.06660936e-04,
       2.49399269e-04, 6.08969056e-05, 3.92562356e-04, 1.67440288e-04,
       3.12260027e-04, 9.10031989e-05, 7.29923271e-04, 4.69539300e-05,
       2.43399770e-04, 8.85796154e-06, 4.42333727e-04, 1.32785832e-04,
       5.40621098e-05, 4.18272103e-04, 3.68224417e-04, 4.46128124e-04,
       1.35697154e-04, 7.86414366e-03, 1.46582106e-02, 7.83511402e-03,
       9.32761518e-03, 8.05938130e-03, 8.05793321e-03, 7.38523154e-03,
       8.48143272e-03, 8.05853642e-03, 8.49887454e-03, 8.43732337e-03,
       2.82979604e-02, 3.75516952e-03, 1.53740165e-03, 8.53236786e-05,
       3.59069214e-04, 3.98709157e-04, 2.91960545e-03, 2.59161858e-02,
       2.19136867e-04, 1.09461190e-03, 7.01877396e-03, 1.73501546e-03,
       2.07897246e-03, 5.07019475e-04, 4.06500817e-04, 1.36591819e-02,
       8.15312926e-05, 4.49051456e-04, 9.76197327e-04, 5.30334665e-04,
       1.26579818e-04, 1.01676544e-02, 8.47594573e-03, 1.83538808e-03,
       1.27970324e-03, 3.62630607e-03, 2.06717253e-03, 7.72095045e-04,
       9.41190457e-05, 6.59149999e-04, 5.29817318e-03, 1.85130132e-02,
       3.49041026e-03, 3.75449185e-04, 8.27241339e-03, 8.69983839e-04,
       2.85443496e-04, 2.97096757e-04, 2.02234721e-03, 5.01774218e-04,
       3.28309340e-03, 4.56181022e-03, 2.00013754e-03, 1.21788842e-03,
       1.31928481e-04, 1.20105048e-02, 4.85456997e-03, 1.95087160e-03,
       9.24166870e-05, 7.74586397e-03, 1.25333119e-02, 1.26291432e-03,
       4.10172924e-03, 3.34705302e-03, 1.48768886e-03, 1.58624732e-03,
       1.34822443e-03, 3.25449051e-03, 3.19087783e-03, 8.65983106e-03,
       1.07132039e-01, 2.43929769e-02, 1.22528973e-03, 2.58217577e-02,
       1.84358258e-02, 2.71548629e-02, 7.50168935e-03, 9.52262503e-03,
       1.92587879e-02, 8.09472878e-03, 1.65544282e-02, 9.40251170e-03,
       2.55365026e-02, 1.85834825e-02])

In [322]:
# Define a custom accuracy evaluation function 
def evaluate(preds, y_test, variation):
    counter = 0
    for i in range(len(preds)):
        if y_test[i]-variation <= preds[i] <= y_test[i]+variation:
            counter += 1
        else: 
            counter += 0
    accuracy = counter / len(preds) 
    return accuracy
        
evaluate(list(preds), list(y_test), 1)

0.7877813504823151

In [323]:

joblib.dump(pipeline, 'salary_predict_model.h5')

['salary_predict_model.h5']