In [16]:
import pandas as pd
import re

In [17]:
def find_skills_keywords (x):
    skills_df = pd.read_csv('../Resources/skills_list.csv')
    keywords_list = skills_df['skills'].tolist()
    keywords_found = ""
    for keyword in keywords_list:
        count = 0
        if len(keyword)>3:
            for match in re.finditer(keyword, x, re.IGNORECASE):
                count += 1
        else:
            for match in re.finditer(keyword, x):
                count += 1
        
        if count >0 : keywords_found = keywords_found + keyword + ", "
            
    keywords_found = keywords_found[:-2] + " "
    return keywords_found

In [18]:
def find_tools_keywords (x):
    tools_df = pd.read_csv('../Resources/tools_list.csv')
    keywords_list = tools_df['tools'].tolist()
    keywords_found = ""
    for keyword in keywords_list:
        count = 0
        if(len(keyword)>3):
            for match in re.finditer(keyword, x, re.IGNORECASE):
                count += 1
        else:
            for match in re.finditer(keyword, x):
                count += 1
        
        if count >0 : keywords_found = keywords_found + keyword + ", "
            
    keywords_found = keywords_found[:-2] + " "
    return keywords_found

In [20]:
job_listings_df = pd.read_csv("../Resources/mw_job_listings_scraped.csv")
job_descriptions = job_listings_df['Description'].fillna(" ").tolist()

In [21]:
job_skills = []
for index in range(len(job_descriptions)):
    result = find_skills_keywords(job_descriptions[index])
    job_skills.append(result)
job_listings_df['Skills']=job_skills

In [22]:
job_tools = []
for index in range(len(job_descriptions)):
    result = find_tools_keywords(job_descriptions[index])
    job_tools.append(result)
job_listings_df['Tools']=job_tools

In [23]:
job_listings_df

,Job Title,Company Name,Location,Salary,Description,link,Category,Skills,Tools
0,Senior Business Analyst - Land,Berks Homes,"Mohnton, PA 19540",NaN,Senior Business Analyst - Land Berks Homes is ...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Data Analyst,,"R, Scala"
1,ISS-P Data Center Analyst,Consolidated Nuclear Security,"Amarillo, TX",NaN,"Location: Amarillo, TX\nJob Title: ISS-P Data ...",https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Data Analyst,,R
2,Junior Data Analyst,Strategic Marketing Services,"Louisville, KY 40223","$32,000 - $39,500 a year",Basic Function: Develop and process targeted m...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Data Analyst,Data Analysis,"SQL, R, Excel"
3,Data Analyst (Louisiana),Tetra Tech Inc.,"Laplace, LA",NaN,Tetra Tech is a leading provider of consulting...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Data Analyst,Data Analysis,"R, Excel"
4,Marketing Data Analyst,Mercedes Scientific,"Sarasota, FL 34211","$85,000 a year",Mercedes Scientific is a national leader in th...,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...,Data Analyst,,R
...,...,...,...,...,...,...,...,...,...
15708,BI Developer (Power BI),USI Holdings Corporation,Remote,NaN,NaN,https://www.indeed.com/rc/clk?jk=5f84ee36c0d11...,Business Intelligence Developer,,
15709,Senior Business Intelligence Developer,BlueVine,"Redwood City, CA 94063 (Downtown area)",NaN,NaN,https://www.indeed.com/rc/clk?jk=45fd10af4b144...,Business Intelligence Developer,,
15710,SENIOR BUSINESS INTELLIGENCE DEVELOPER,XSOLIS,Remote,NaN,NaN,https://www.indeed.com/rc/clk?jk=43c084fafe1f1...,Business Intelligence Developer,,
15711,Sr. Business Intelligence Developer,Ensemble Health Partners,"Cincinnati, OH",NaN,NaN,https://www.indeed.com/rc/clk?jk=57ef8b0e02a25...,Business Intelligence Developer,,
15712,Business Intelligence Developer,Bain Capital,"Boston, MA 02116 (Back Bay area)",NaN,NaN,https://www.indeed.com/rc/clk?jk=b28b1b26c802c...,Business Intelligence Developer,,

In [26]:
job_listings_df.to_csv("../Resources/mw_job_listings_scraped.csv", index=False)